<!DOCTYPE html>
<html>
<head>
	<title>enrolling活动主页</title>
	<link rel="stylesheet" href="/uikit/css/uikit.almost-flat.min.css" />
	<script src="/js/jquery.js"></script>
	<script src="/js/pace.min.js"></script>
	<script src="/uikit/js/uikit.min.js"></script>
</head>
<body>
<nav class="uk-navbar uk-navbar-attached">

                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="">上海科技大学文艺体育部</a></li>
                                    <li class="uk-parent" data-uk-dropdown>
                                        <a href="">比赛相关</a>

                                        <div class="uk-dropdown uk-dropdown-navbar">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><a href="#">比赛公告</a></li>
                                                <li><a href="#">比赛规则</a></li>
                                                <li><a href="#">赛程安排</a></li>
                                                <li><a href="#">工作人员</a></li>
                                                <li><a href="#">选手报名</a></li>
                                                <li><a href="#">志愿者报名</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul>

                                <div class="uk-navbar-flip">

                                    <ul class="uk-navbar-nav">
                                        <li class="uk-parent" data-uk-dropdown>
                                            <a href="">个人中心</a>

                                            <div class="uk-dropdown uk-dropdown-navbar">
                                                <ul class="uk-nav uk-nav-navbar">
                                                    <li class="uk-nav-header">我参加的项目</li>
                                                    <li class="uk-nav-divider"></li>
                                                    {{#list}}
                                                    {{#species}}
                                                    <li><a href="/choose/{{name}}">{{name}}</a></li>
                                                    {{/species}}
                                                    {{/list}}
                                                    <li class="uk-nav-divider"></li>
                                                    <li><a href="/">重新选择项目</a></li>
                                                    <li class="uk-nav-header">管理</li>
                                                    <li><a href="#">我创建的项目</a></li>
                                                    <li><a href="/">创建项目</a></li>
                                                    <li class="uk-nav-divider"></li>
                                                    <li><a href="#">退出登陆</a></li>
                                                </ul>
                                            </div>

                                        </li>
                                        {{^user}}
                                        <li><a href="/login">登陆</a></li>
                                        <li><a href="/signup">注册</a></li>
                                        {{/user}}
                                        {{#user}}
                                        <li><a href="/logout">退出</a></li>
                                        {{/user}}
                                    </ul>

                                </div>

                            </nav>





	<div class="uk-container uk-container-center uk-margin-top">
		<div class="uk-grid" data-uk-grid-margin>
			<div class="uk-width-1-1">
				<div class="uk-panel uk-panel-box">
					<form class="uk-form uk-form-horizontal" action="/enroll_pingpong" method="post">
						<div class="uk-form-row">
							<label class="uk-form-label" for="name">姓名</label>
							<div class="uk-form-controls">
								<input type="text" id="name" name="name" placeholder="姓名" class="uk-form-large"></div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="email">邮箱</label>
							<div class="uk-form-controls">
								<input type="text" id="email" name="email" placeholder="邮箱" class="uk-form-large"></div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="number">学号/工号</label>
							<div class="uk-form-controls">
								<input type="text" id="number" name="number" placeholder="学号/工号" class="uk-form-large"></div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="telephone">手机号</label>
							<div class="uk-form-controls">
								<input type="text" id="telephone" name="telephone" placeholder="手机" class="uk-form-large"></div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="form-s-s">性别</label>
							<div class="uk-form-controls">
								<select id="form-s-s" name="gender">
									<option>男</option>
									<option>女</option>
								</select>
							</div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="form-s-s">入学年级</label>
							<div class="uk-form-controls">
								<select id="form-s-s" name="year">
									<option>2013</option>
									<option>2014</option>
									<option>2015</option>
									<option>2016</option>
								</select>
							</div>
						</div>
						<div class="uk-form-row">
							<label class="uk-form-label" for="form-s-s">Class</label>
							<div class="uk-form-controls">
								<select id="form-s-s" name="class">
									<option>本科生</option>
									<option>研究生</option>
									<option>博士生</option>
									<option>教师、教授、员工</option>
								</select>
							</div>
						</div>
						<div class="uk-form-row">
							<span class="uk-form-label">选择参加的比赛项目</span>
							<div class="uk-form-controls">
								<input type="checkbox" id="form-s-c1" name="species[]" value="男单">
								<label for="form-s-c1">男单</label>
								<label>
									<input type="checkbox" name="species[]" value="女单">女单</label>
								<label>
									<input type="checkbox" name="species[]" value="男双">男双</label>
								<label>
									<input type="checkbox" name="species[]" value="女双">女双</label>
								<label>
									<input type="checkbox" name="species[]" value="混双">混双</label>
							</div>
						</div>
						<div class="uk-form-row">
							
							<button class="uk-button uk-width-1-1">提交</button>

						</div>

					</form>
				</div>

			</div>
		</div>
		<div style="display:none;" id="err_msg">{{#error}}<p>{{msg}}</p>{{/error}}</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		if ($('#err_msg').html() !== '') {
			UIkit.modal.alert($('#err_msg').html());
		}
	});

	</script>
</body>
</html>